name: Build and deploy Node.js app to Azure Web App - short-link

on:
  push:
    branches:
      - main
    paths:
      - "client/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install and Build
        working-directory: ./client
        env:
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
        run: |
          npm install
          npm run build
          cp -r public .next/standalone/ && cp -r .next/static .next/standalone/.next/

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: nextjs-app
          path: ./client/.next/standalone
          include-hidden-files: true

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: nextjs-app

      - name: Verify artifact contents
        run: |
          echo "Listing downloaded artifact contents:"
          ls -la

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_222760ACE17B46028E76C29F1557D05F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_5D4CA3810CAF45C58D2878D9184A115C }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D28F1503B25C4E21B0CC9CDBF04FDCF5 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "short-link"
          slot-name: "Production"
          package: .